@import '../../../styles/variables';

.Header
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1250;
  color: $color-base-light-main;
  background-color: $color-base-dark-main;

  & a{
    color: inherit;
  }

  .wrapper
    width: "calc(100% - (%s * 2))" $spacer-1;
    margin: 0;
    padding: $spacer-1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


