.Tile
  margin: 0;
  padding: 0;

  & .inner
    margin: 0;

  & .textPrimary
    margin: 0;
    font-weight: $font-weight-bold;

  & .textSecondary
    margin: 0;
    padding: 0;

    & code
      margin: 0;
      padding: 0;
      font-size: 75%;
