/**
  Font
**/

$font-family-base = Inter, Avenir, Helvetica, Arial, sans-serif;
$font-weight-normal = 400;
$font-weight-bold = 600;
$font-size-base = 16px;


/**
  Border
**/

$border-width-base = 1px;
$border-style-base = solid;


/**
  Spacing
**/

$spacer-1 = 1rem;
$spacer-025 = "calc(%s * 0.25)" % $spacer-1;
$spacer-05 = "calc(%s * 0.5)" % $spacer-1;
$spacer-075 = "calc(%s * 0.75)" % $spacer-1;
$spacer-125 = "calc(%s * 1.25)" % $spacer-1;
$spacer-135 = "calc(%s * 1.35)" % $spacer-1;
$spacer-15 = "calc(%s * 1.5)" % $spacer-1;
$spacer-175 = "calc(%s * 1.75)" % $spacer-1;
$spacer-20 = "calc(%s * 2)" % $spacer-1;
$spacer-30 = "calc(%s * 3)" % $spacer-1;
$spacer-40 = "calc(%s * 4)" % $spacer-1;
$spacer-50 = "calc(%s * 5)" % $spacer-1;
$spacer-60 = "calc(%s * 6)" % $spacer-1;
$spacer-80 = "calc(%s * 8)" % $spacer-1;
$spacer-100 = "calc(%s * 10)" % $spacer-1;


/**
  Color
**/

/* Color: Base */

/* light */
$color-base-light-main = rgb(219, 211, 208);
$color-base-light-darker-10 = darken($color-base-light-main, 10%);
$color-base-light-darker-20 = darken($color-base-light-main, 20%);
$color-base-light-darker-30 = darken($color-base-light-main, 30%);
$color-base-light-darker-40 = darken($color-base-light-main, 40%);
$color-base-light-darker-50 = darken($color-base-light-main, 50%);
$color-base-light-lighter-10 = lighten($color-base-light-main, 10%);
$color-base-light-lighter-20 = lighten($color-base-light-main, 20%);
$color-base-light-lighter-30 = lighten($color-base-light-main, 30%);
$color-base-light-lighter-40 = lighten($color-base-light-main, 40%);
$color-base-light-lighter-50 = lighten($color-base-light-main, 50%);

/* dark */
$color-base-dark-main = rgb(25, 25, 25);
$color-base-dark-darker-10 = darken($color-base-dark-main, 10%);
$color-base-dark-darker-20 = darken($color-base-dark-main, 20%);
$color-base-dark-darker-30 = darken($color-base-dark-main, 30%);
$color-base-dark-darker-40 = darken($color-base-dark-main, 40%);
$color-base-dark-darker-50 = darken($color-base-dark-main, 50%);
$color-base-dark-lighter-10 = lighten($color-base-dark-main, 10%);
$color-base-dark-lighter-20 = lighten($color-base-dark-main, 20%);
$color-base-dark-lighter-30 = lighten($color-base-dark-main, 30%);
$color-base-dark-lighter-40 = lighten($color-base-dark-main, 40%);
$color-base-dark-lighter-50 = lighten($color-base-dark-main, 50%);


/* Color: Emotions */

/* primary */
$color-emotion-primary-main = rgb(41, 40, 45);
$color-emotion--primary-darker-10 = darken($color-emotion-primary-main, 10%);
$color-emotion-primary-darker-20 = darken($color-emotion-primary-main, 20%);
$color-emotion-primary-darker-30 = darken($color-emotion-primary-main, 30%);
$color-emotion-primary-darker-40 = darken($color-emotion-primary-main, 40%);
$color-emotion-primary-darker-50 = darken($color-emotion-primary-main, 50%);
$color-emotion-primary-lighter-10 = lighten($color-emotion-primary-main, 10%);
$color-emotion-primary-lighter-20 = lighten($color-emotion-primary-main, 20%);
$color-emotion-primary-lighter-30 = lighten($color-emotion-primary-main, 30%);
$color-emotion-primary-lighter-40 = lighten($color-emotion-primary-main, 40%);
$color-emotion-primary-lighter-50 = lighten($color-emotion-primary-main, 50%);

/* secondary */
$color-emotion-secondary-main = rgb(98, 93, 96);
$color-emotion-secondary-darker-10 = darken($color-emotion-secondary-main, 10%);
$color-emotion-secondary-darker-20 = darken($color-emotion-secondary-main, 20%);
$color-emotion-secondary-darker-30 = darken($color-emotion-secondary-main, 30%);
$color-emotion-secondary-darker-40 = darken($color-emotion-secondary-main, 40%);
$color-emotion-secondary-darker-50 = darken($color-emotion-secondary-main, 50%);
$color-emotion-secondary-lighter-10 = lighten($color-emotion-secondary-main, 10%);
$color-emotion-secondary-lighter-20 = lighten($color-emotion-secondary-main, 20%);
$color-emotion-secondary-lighter-30 = lighten($color-emotion-secondary-main, 30%);
$color-emotion-secondary-lighter-40 = lighten($color-emotion-secondary-main, 40%);
$color-emotion-secondary-lighter-50 = lighten($color-emotion-secondary-main, 50%);

/* success */
$color-emotion-success-main = rgb(98, 93, 96);
$color-emotion-success-darker-10 = darken($color-emotion-success-main, 10%);
$color-emotion-success-darker-20 = darken($color-emotion-success-main, 20%);
$color-emotion-success-darker-30 = darken($color-emotion-success-main, 30%);
$color-emotion-success-darker-40 = darken($color-emotion-success-main, 40%);
$color-emotion-success-darker-50 = darken($color-emotion-success-main, 50%);
$color-emotion-success-lighter-10 = lighten($color-emotion-success-main, 10%);
$color-emotion-success-lighter-20 = lighten($color-emotion-success-main, 20%);
$color-emotion-success-lighter-30 = lighten($color-emotion-success-main, 30%);
$color-emotion-success-lighter-40 = lighten($color-emotion-success-main, 40%);
$color-emotion-success-lighter-50 = lighten($color-emotion-success-main, 50%);

/* info */
$color-emotion-info-main = rgb(98, 93, 96);
$color-emotion-info-darker-10 = darken($color-emotion-info-main, 10%);
$color-emotion-info-darker-20 = darken($color-emotion-info-main, 20%);
$color-emotion-info-darker-30 = darken($color-emotion-info-main, 30%);
$color-emotion-info-darker-40 = darken($color-emotion-info-main, 40%);
$color-emotion-info-darker-50 = darken($color-emotion-info-main, 50%);
$color-emotion-info-lighter-10 = lighten($color-emotion-info-main, 10%);
$color-emotion-info-lighter-20 = lighten($color-emotion-info-main, 20%);
$color-emotion-info-lighter-30 = lighten($color-emotion-info-main, 30%);
$color-emotion-info-lighter-40 = lighten($color-emotion-info-main, 40%);
$color-emotion-info-lighter-50 = lighten($color-emotion-info-main, 50%);

/* warning */
$color-emotion-warning-main = rgb(98, 93, 96);
$color-emotion-warning-darker-10 = darken($color-emotion-warning-main, 10%);
$color-emotion-warning-darker-20 = darken($color-emotion-warning-main, 20%);
$color-emotion-warning-darker-30 = darken($color-emotion-warning-main, 30%);
$color-emotion-warning-darker-40 = darken($color-emotion-warning-main, 40%);
$color-emotion-warning-darker-50 = darken($color-emotion-warning-main, 50%);
$color-emotion-warning-lighter-10 = lighten($color-emotion-warning-main, 10%);
$color-emotion-warning-lighter-20 = lighten($color-emotion-warning-main, 20%);
$color-emotion-warning-lighter-30 = lighten($color-emotion-warning-main, 30%);
$color-emotion-warning-lighter-40 = lighten($color-emotion-warning-main, 40%);
$color-emotion-warning-lighter-50 = lighten($color-emotion-warning-main, 50%);

/* error */
$color-emotion-error-main = rgb(98, 93, 96);
$color-emotion-error-darker-10 = darken($color-emotion-error-main, 10%);
$color-emotion-error-darker-20 = darken($color-emotion-error-main, 20%);
$color-emotion-error-darker-30 = darken($color-emotion-error-main, 30%);
$color-emotion-error-darker-40 = darken($color-emotion-error-main, 40%);
$color-emotion-error-darker-50 = darken($color-emotion-error-main, 50%);
$color-emotion-error-lighter-10 = lighten($color-emotion-error-main, 10%);
$color-emotion-error-lighter-20 = lighten($color-emotion-error-main, 20%);
$color-emotion-error-lighter-30 = lighten($color-emotion-error-main, 30%);
$color-emotion-error-lighter-40 = lighten($color-emotion-error-main, 40%);
$color-emotion-error-lighter-50 = lighten($color-emotion-error-main, 50%);


/* Color: Palette */
$color-palette-white = rgb(253, 253, 253);
$color-palette-black = rgb(2, 2, 2);
$color-palette-red = rgb(211, 47, 47);
$color-palette-pink = rgb(194, 24, 91);
$color-palette-purple = rgb(123, 31, 162);
$color-palette-deepPurple = rgb(81, 45, 168);
$color-palette-indigo = rgb(48, 63, 159);
$color-palette-blue = rgb(25, 118, 210);
$color-palette-lightBlue = rgb(2, 136, 209);
$color-palette-cyan = rgb(0, 151, 167);
$color-palette-teal = rgb(0, 121, 107);
$color-palette-green = rgb(56, 142, 60);
$color-palette-lightGreen = rgb(104, 159, 56);
$color-palette-lime = rgb(175, 180, 43);
$color-palette-yellow = rgb(251, 192, 45);
$color-palette-amber = rgb(255, 160, 0);
$color-palette-orange = rgb(245, 124, 0);
$color-palette-deepOrange = rgb(230, 74, 25);
$color-palette-brown = rgb(93, 64, 55);
$color-palette-grey = rgb(97, 97, 97);
$color-palette-blueGrey = rgb(69, 90, 100);

